body {
    max-width: 980px;
    margin: auto; 
    box-sizing: border-box;
    /* --main-color: #f0f1f4; */
    --second-color: #f0f1f4;
}


header .navbar-brand {
    font-size: 1.5rem;
}

header .header-menu{
    display: block;
    font-size: 1rem;
    text-align: center;
}

.carousel,  
.about-me {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.carousel-item img {
    margin: auto;
    max-height: 500px;
    max-width: 600px;
}

.about-me {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.about-me p {
    padding: 20px;
    text-align: justify;
}

.about-me img {
    max-height: 500px;
    max-width: 100%;
}

@media (min-width: 600px) {
    .about-me {
    display: grid;
    grid-template: 15% 1fr/ 1fr 1fr;
    justify-items: center;
}

.about-me p {
    align-self: flex-start;
}

.about-me img {
    grid-area: 1/2/3/3;
}
}

.baner {
 position: relative;
}

.video-baner {
  width: 100%; 
  height: 100%;
}

.baner-content {
    text-align: center;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  font-size: .8rem;
}

.video-btn {
  width: 200px;
  font-size: .8rem;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 600px) {
    .baner-content {
        padding: 20px;
        font-size: 1.2rem;
    }
}

/* Stretching */

.stretching-header{
 background-color: black;
 color: var(--second-color);
 padding: 20px;
 text-align: center;
 margin: 0;
}

.stretching-baner {
    background-image: url(../img/stretching-studio.jpeg);
    background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
   min-height: 400px;
    display: grid;
    justify-items: center;
    align-content: space-between;
    padding: 10px;
}

.stretching-baner-text, .btn-whant {
color: var(--second-color);
}

.stretching-baner-text {
    width: 200px;
    text-align: center;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.stretching-baner-text-marafon{
    font-weight: bold;
    font-size: 1.4rem;
    display: block;
}

.stretching-baner-text:last-child {
    display: none;
}

.btn-whant {
width: 200px;
height: 40px;
  font-size: .8rem;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

@media (min-width: 600px) {
    .stretching-header{
 padding: 30px;
}

/* Stretching-baner */

    .stretching-baner {
    background-image: url(../img/marafon-baner.jpg);
    min-height: 400px;
    background-size: 100% auto;
    justify-items: start;
    align-content: space-around;
    padding: 30px;
}

.stretching-baner-text {
    width: 300px;
    font-size: 1.3rem;
}

.stretching-baner-text:last-child {
    display: block;
}

.btn-whant {
    margin: 40px;
    padding: 15px;
    height: 50px;
}
}

@media (min-width: 800px) {
    .stretching-baner {
    min-height: 500px;
}
}

@media (min-width: 900px) {
    .stretching-baner {
    min-height: 600px;
}
}

/* Stretching-reasons */

.reasons  h2 {
 text-align: center;
 padding: 30px;
}
.stretching-reasons {
    display: grid;
    grid-template-columns: 40% 1fr;
    justify-items: center;
}

.stretching-reasons img {
    max-height: 200px;
}

.stretching-reasons-text {
    padding: 10px 20px 10px 10px;
}

.stretching-reasons-text-header {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.stretching-reasons-text-content{
    font-size: .8rem;
}

@media (min-width: 600px) {
    .stretching-reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.reasons2 {
    grid-area: 1/2/2/3;
    background-color: rgba(0, 0, 0, 0.1);
}

.reasons3 {
    grid-area: 1/3/2/4;
    background-color: rgba(0, 0, 0, 0.1);
}
}

/* Stretching-price */
.stretching-price {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    text-align: center;
}

.stretching-price-content {
    text-align: center;
    padding: 20px 10px;
    /* border: 1px solid black; */
}

.stretching-price img {
    min-height: 400px;
    width: 100%;
}

.stretching-marafon-content p {
    padding: 10px 20px;
    text-align: center;
    font-size: 1.3rem;
}

.marafon-text {
    display: block;
    text-align: center;
}

.stretching-marafon-content span.square {
    border: 2px solid black;
    background-color:black;
	font-size: 1.5em;
	font-weight: bold;
	display: inline-block;
	height: 48px;
	line-height: 48px;
	margin: 0  20px 15px 0;
	text-align: center;
	transform: rotate(45deg);
    width: 48px;
    color: var(--second-color);
}

.stretching-marafon-content span.num {
	display: inline-block;
	transform: rotate(-45deg);
}

@media (min-width: 600px) {
    .stretching-price {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .stretching-marafon-content p {
    text-align: left;
    padding: 20px;
}

.marafon-text {
    display: inline;
}
}