body {
    max-width: 980px;
    margin: auto;
    box-sizing: border-box;
}

header .navbar-brand {
    font-size: 1.5rem;
}

header .header-menu{
    display: block;
    font-size: 1rem;
    text-align: center;
}

.carousel,  
.about-me {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.carousel-item img {
    margin: auto;
    max-height: 500px;
    max-width: 600px;
}

.about-me {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.about-me p {
    padding: 20px;
    text-align: justify;
}

.about-me img {
    max-height: 500px;
    max-width: 100%;
}

@media (min-width: 600px) {
    .about-me {
    display: grid;
    grid-template: 15% 1fr/ 1fr 1fr;
    justify-items: center;
}

.about-me p {
    align-self: flex-start;
}

.about-me img {
    grid-area: 1/2/3/3;
}
}

.baner {
 position: relative;
}

.video-baner {
  width: 100%; 
  height: 100%;
}

.baner-content {
    text-align: center;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  font-size: .8rem;
}

.video-btn {
  width: 200px;
  font-size: .8rem;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

/* .video-btn:hover {
  background: #ddd;
  color: black;
} */

@media (min-width: 600px) {
    .baner-content {
        padding: 20px;
        font-size: 1.2rem;
    }

    .video-btn {
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}
}